<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estiloFiscal.css" />
    <title>Perfil</title>
</head>

<body onload="Perfil()">
    <div class="quadro1">
        <table>
            <thead>
                <tr>
                    <h2>Vendas Arnaldo </h2>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Descricao: <input type="text" id="descriao" size="descricao" /></td>
                </tr>
                <tr>
                    <td>Quantidade: <input type="number" id="quantidade" size="quantidade" /></td>
                </tr>
                 <tr>
                    <td>Preco: <input type="number" id="preco" size="preco" /></td>
                </tr>
                <tr>
                    <td><input type="button" value="adicionar" onclick="add" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="front.js"></script>
</body>

</html>
